<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style><title>Results - Victorian Energy Compare - Switch On Victoria</title><link rel="shortcut icon" href="https://compare.switchon.vic.gov.au/includes/mpp3/favicon-so.ico"><!-- AGLS //--><!-- Mandatory //--><!-- Optional //--><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap.min.css" media="screen"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap-print.min.css" media="print"><link href="https://compare.switchon.vic.gov.au/css/webfont.css" rel="stylesheet" type="text/css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/mpp3_main.css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/progress-bar.css"><link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- Javascript for IE8--><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]--><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/fancybox/jquery.fancybox.css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/fancybox/helpers/jquery.fancybox-buttons.css"><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.min.css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap/bootstrap-toggle.min.css?1443513675"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap/awesome-bootstrap-checkbox.css?1443513675"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/font-awesome.min.css?1443513675"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/offers/offer.css?1493881352"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bill_detail/bill-details.css?1443513675"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/select2.min.css?1445984614"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap/bootstrap-datepicker3.min.css?1443513675"></head><body ng-app="offersApp" id="ng-app" class="ng-scope modal-open">

<!-- End of wrapper -->


<div tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)" modal-window="" size="lg" index="0" animate="animate" style="z-index: 1050; display: block;">
    <div class="" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="" modal-transclude="">
<div class="ng-scope">
    
    <div class="modal-body offerModalEmail">
        <div class="row view-offer-section1">
            <div class="col-md-8">
                <h1>AGL</h1>

                <p>
                    <span class="HelveticaNeueLTStd-UltLt-Offer">
                        AGL Savers - Victoria residential electricity market offer                        <!-- ngIf: null !== offer.solarType -->
                    </span>
                </p>

                <div class="row offer-section">
                    <div class="col-md-6">
                        <span class="sub-header">Other features</span>
                        <table class="table offer-feature-table"><tbody><tr><td>
                                    <i class="material-icons debit-img" ng-class="{'direct-debit':offer.isDirectDebitOnly}">&#59504;</i>
                                </td>
                                <!-- ngIf: true === offer.isDirectDebitOnly -->
                                <!-- ngIf: false === offer.isDirectDebitOnly --><td ng-if="false === offer.isDirectDebitOnly" class="ng-scope">Payment details not required</td><!-- end ngIf: false === offer.isDirectDebitOnly -->
                            </tr><tr><td>
                                    <i class="material-icons payontime" ng-class="{payontime:offer.hasPayOnTimeDiscount}">&#59477;</i>
                                </td>
                                <!-- ngIf: true === offer.hasPayOnTimeDiscount --><td ng-if="true === offer.hasPayOnTimeDiscount" class="ng-scope">Pay on time discount</td><!-- end ngIf: true === offer.hasPayOnTimeDiscount -->
                                <!-- ngIf: false === offer.hasPayOnTimeDiscount -->
                            </tr><tr><td>
                                    <i class="material-icons incentive" ng-class="{incentive:offer.hasIncentive}">&#59638;</i>
                                </td>
                                <!-- ngIf: true === offer.hasIncentive --><td ng-if="true === offer.hasIncentive" class="ng-scope">The offer has incentive(s)</td><!-- end ngIf: true === offer.hasIncentive -->
                                <!-- ngIf: false === offer.hasIncentive -->
                            </tr><tr><td>
                                    <i class="material-icons" ng-class="{'green-power':(0 !== offer.greenPowerDisplay)}">&#58693;</i>
                                </td>
                                <!-- ngIf: 0 !== offer.greenPowerDisplay -->
                                <!-- ngIf: 0 === offer.greenPowerDisplay --><td ng-if="0 === offer.greenPowerDisplay" class="ng-scope">No Green Power</td><!-- end ngIf: 0 === offer.greenPowerDisplay -->
                            </tr><tr><!-- ngIf: 0 !== offer.includesDemandTariff --><!-- ngIf: 0 !== offer.includesDemandTariff --><!-- ngIf: false && 0 === offer.includesDemandTariff --></tr></tbody></table></div>
                    <div class="col-md-6">
                        <span class="sub-header">Offer Details</span>
                        <table class="table offer-detail-table"><tbody><tr><td>Offer ID:</td>
                                <td>AGD56842MR</td>
                            </tr><tr><td>Customer type:</td>
                                <td>
                                    Residential                                                                                                        </td>
                            </tr><tr><td>Distributor:</td>
                                <td>United Energy</td>
                            </tr><tr><td>Rate type:</td>
                                <td>Flexible Pricing</td>
                            </tr><tr><td>Offer type:</td>
                                <td>Market offer</td>
                            </tr><tr><td>Release date:</td>
                                <td>07/07/2017 </td>
                            </tr></tbody></table></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row compare-retailer-logo modal-retailer-logo">
                    <img ng-src="img/retailers/big/agl.jpg" src="https://compare.switchon.vic.gov.au/img/retailers/big/agl.jpg"></div>
                
                <div class="row">
                    <p>
                        <sup class="usd">$</sup><span class="currency-value ng-binding">3,270</span>
                        <!-- ngIf: 0 > offer.conditionalPrice -->
                        <sub class="dual-per-year">/ year</sub></p>
                </div>
                <div class="row section-separator-bottom">
                    <p>
                        With conditional discounts                        <strong class="ng-binding">
                            $2,330
                            <!-- ngIf: 0 > offer.fullDiscountedPrice -->
                        </strong>
                    </p>
                </div>
                <div class="row modal-retailer-details" ng-class="{'modal-retailer-details-solar':0 != offer.estimatedSolarCredit}">
                    <p>
						<span class="HelveticaNeueLTStd-Regular">
                            To get this offer						</span>
                    </p>

                    <p>
                        <span class="Arial-Regular">
                            <a href="http://www.agl.com.au" target="_blank">
                                <i class="fa fa-external-link"></i>
                                go to the retailer&rsquo;s website                            </a>
                        </span>
                    </p>

                    <p>
                        <span class="Arial-Regular">
                            <a href="tel:+131245">
                                <span class="glyphicon glyphicon-earphone"></span>
                                call the retailer                            </a>
                        </span>
                    </p>

                    <div id="retailer-contact">
                        <p>
                            <a href="tel:+131245">
                                13 12 45                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row view-offer-section2">
            <div class="col-md-8">
                <div class="row contract-header">
                    <p>
                        <span class="Arial-Header">Contract terms: Notices, availability and incentives</span>
                    </p>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped contract-table"><tbody><tr><td>Select contract term:</td>
                                <td>
                                                                            <button class="btn btn-primary" ng-class="{'btn-primary':(contractKey == '22113')}" ng-click="contractKey = '22113'" ng-init="contractKey='22113'">
                                            Ongoing contract                                        </button>
                                                                        </td>
                            </tr><tr ng-show="contractKey === '22113'" class=""><td>Cooling off period</td>
                                    <td>
                                        10                                        days
                                    </td>
                                </tr><tr ng-show="contractKey === '22113'" class=""><td>Eligibility criteria</td>
                                    <td>This energy offer applies to residential customers in Victoria within the United Energy electricity distribution area.</td>
                                </tr><tr ng-show="contractKey === '22113'" class=""><td>Full terms and conditions</td>
                                    <td>For further information about the terms and conditions applicable to this energy offer, please contact AGL on 131 245 or visit agl.com.au</td>
                                </tr><tr ng-show="contractKey === '22113'" class=""><td>Price changes</td>
                                    <td>The energy rates may be varied at any time by giving you written notice (which may consist of a statement on your next bill after the change). Fees and other charges can also be varied under the terms of your market contract.</td>
                                </tr><tr ng-show="contractKey === '22113'" class=""><td>Contract expiry details</td>
                                    <td>Your market contract has no fixed term. However, at the end of your 1 year energy plan period, you will be placed on a new energy plan. We will notify you if there are any differences between these plans.</td>
                                </tr><tr><td>Incentives</td>
                                <td>
                                    <p><i>$50 First Bill Credit (AGL.com.au signup only)</i> - Receive a $50 once off credit (GST incl.) when you sign up via agl.com.au. Customers are eligible for only one upfront credit on an account in any 12 month period. Credit will appear on the first bill issued under this plan and is not transferrable.</p>                                </td>
                            </tr><tr><td>Avail. to solar customers</td>
                                <td>Yes</td>
                            </tr></tbody></table></div>
                    <div class="row">
                        <p>
                        <span class="Arial-Header">Discounts and fees</span>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="sub-header">Discounts:</span>
                                                                <p>
                                        <strong>Conditional (33%): 33% pay on time discount</strong>
                                    </p>
                                    <p>The pay on time discount only applies to our energy usage charges, and will appear as a separate credit (GST exclusive) on bills, for each bill paid in full on or before the due date.</p>
                                                            </div>
                        <div class="col-md-6">
                            <span class="sub-header">Fees</span>
                                                                <p>
                                        <strong>Reconnection fee</strong>
                                    </p>
                                    <p class="wrap-text">This fee is charged by your Distributor and passed through to you by AGL.</p>
                                                                            <p>Flat rate                                            : $50.17</p>
                                                                            <p>
                                        <strong>Disconnection fee</strong>
                                    </p>
                                    <p class="wrap-text">This fee is charged by your Distributor and passed through to you by AGL.</p>
                                                                            <p>Flat rate                                            : $50.17</p>
                                                                            <p>
                                        <strong>Cheque dishonour payment fee</strong>
                                    </p>
                                    <p class="wrap-text"></p>
                                                                            <p>Flat rate                                            : $6.50</p>
                                                                            <p>
                                        <strong>Direct debit dishonour payment fee</strong>
                                    </p>
                                    <p class="wrap-text"></p>
                                                                            <p>Flat rate                                            : $2.30</p>
                                                                            <p>
                                        <strong>Payment processing fee</strong>
                                    </p>
                                    <p class="wrap-text">The amount is GST inclusive and applies to payments made by debit and credit cards.</p>
                                                                            <p>Percentage of bill                                            : 0.45%</p>
                                                                            <p>
                                        <strong>Other fee</strong>
                                    </p>
                                    <p class="wrap-text">A $1.75 (incl. GST) paper bill fee may apply for each bill sent by post.</p>
                                                                            <p>Flat rate                                            : $1.75</p>
                                                                            <p>
                                        <strong>Other fee</strong>
                                    </p>
                                    <p class="wrap-text">A $2.00 (incl. GST) over the counter payment fee may apply for payments made in-person at a Post Office.</p>
                                                                            <p>Flat rate                                            : $2.00</p>
                                        
                                                            <p><strong>Additional Fee Information</strong></p>
                                <p>Additional fees and charges may apply. Please see the energy offer terms and conditions at agl.com.au</p>
                            

                            <!-- ngIf: offer.greenPowerDisplay != 0 -->

                            <!-- ngIf: offer.intrinsicGreenPowerDisplay != 0 -->

                            <!-- ngIf: offer.greenPower !== 0 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row offer-rate-header">
                    <p>
                        <span class="Arial-Header">Offer rate and details</span>
                        <br><span>Local time</span>
                    </p>
                </div>

                <!-- season start-->
                                    <!-- ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'day' --><div ng-if="offer.solarType === null || 1 !== 3 || offer.solarType === 'day'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular">Summer</span>
                            </p>

                            <p class="read-only">1 January                                - 31 March</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>110.98 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Peak</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                3 pm - 9 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>41.17 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Shoulder</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                7 am - 10 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                9 pm - 10 pm, 7 am - 3 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                7 am - 10 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>22.75 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Off-peak</p>

                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                10 pm - 12 am, 12 am - 7 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 7 am, 10 pm - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                12 am - 7 am, 10 pm - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>19.34 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'day' -->
                                    <!-- ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'day' --><div ng-if="offer.solarType === null || 1 !== 3 || offer.solarType === 'day'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular">Non-Summer</span>
                            </p>

                            <p class="read-only">1 April                                - 30 September</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>110.98 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Peak</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                3 pm - 9 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>31.52 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Shoulder</p>

                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                7 am - 3 pm, 9 pm - 10 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                7 am - 10 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                7 am - 10 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>22.45 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Off-peak</p>

                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 7 am, 10 pm - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                12 am - 7 am, 10 pm - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                12 am - 7 am, 10 pm - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>19.34 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'day' -->
                                    <!-- ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'day' --><div ng-if="offer.solarType === null || 1 !== 3 || offer.solarType === 'day'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular">Summer</span>
                            </p>

                            <p class="read-only">1 October                                - 31 December</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>110.98 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Peak</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                3 pm - 9 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>31.52 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Shoulder</p>

                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                7 am - 3 pm, 9 pm - 10 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                7 am - 10 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                7 am - 10 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>22.45 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Off-peak</p>

                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                10 pm - 12 am, 12 am - 7 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                10 pm - 12 am, 12 am - 7 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 7 am, 10 pm - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>19.34 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'day' -->
                                    <!-- ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'pfit' --><div ng-if="offer.solarType === null || 3 !== 3 || offer.solarType === 'pfit'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular">Solar bonus scheme pre 30 December 2011 60 cent PFiT</span>
                            </p>

                            <p class="read-only">1 January                                - 31 December</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>0.00 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Flat</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                12 am - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All export</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>71.30 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'pfit' -->
                                    <!-- ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'newfit' --><div ng-if="offer.solarType === null || 3 !== 3 || offer.solarType === 'newfit'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular">AGL Retailer Feed-in Tariff (RFiT)</span>
                            </p>

                            <p class="read-only">1 January                                - 31 December</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>0.00 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Flat</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                12 am - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All export</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>11.30 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'newfit' -->
                                <!-- season end -->
            </div>
            <div class="row hidden-lg hidden-md ">
                <div class="col-md-12">
                    <button class="what-next-button what-next-button-text" ng-click="viewNext(offer)">What&rsquo;s next?</button>
                </div>
            </div>
        </div>
    </div>
</div></div></div>
</div></body></html>
<html><head></head><body></body></html>