<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style><title>Results - Victorian Energy Compare - Switch On Victoria</title><link rel="shortcut icon" href="https://compare.switchon.vic.gov.au/includes/mpp3/favicon-so.ico"><!-- AGLS //--><!-- Mandatory //--><!-- Optional //--><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap.min.css" media="screen"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap-print.min.css" media="print"><link href="https://compare.switchon.vic.gov.au/css/webfont.css" rel="stylesheet" type="text/css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/mpp3_main.css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/progress-bar.css"><link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- Javascript for IE8--><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries --><!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]--><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/fancybox/jquery.fancybox.css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/fancybox/helpers/jquery.fancybox-buttons.css"><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.12.1/select.min.css"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap/bootstrap-toggle.min.css?1443513688"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap/awesome-bootstrap-checkbox.css?1443513688"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/font-awesome.min.css?1443513688"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/offers/offer.css?1493881332"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bill_detail/bill-details.css?1443513688"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/select2.min.css?1445896886"><link rel="stylesheet" type="text/css" href="https://compare.switchon.vic.gov.au/css/bootstrap/bootstrap-datepicker3.min.css?1443513688"></head><body ng-app="offersApp" id="ng-app" class="ng-scope modal-open">

<!-- End of wrapper -->


<div tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)" modal-window="" size="lg" index="0" animate="animate" style="z-index: 1050; display: block;">
    <div class="" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="" modal-transclude="">
<div class="ng-scope">
    
    <div class="modal-body offerModalEmail">
        <div class="row view-offer-section1">
            <div class="col-md-8">
                <h1>Lumo Energy</h1>

                <p>
                    <span class="HelveticaNeueLTStd-UltLt-Offer">
                        Lumo eDeal                         <!-- ngIf: null !== offer.solarType -->
                    </span>
                </p>

                <div class="row offer-section">
                    <div class="col-md-6">
                        <span class="sub-header">Other features</span>
                        <table class="table offer-feature-table"><tbody><tr><td>
                                    <i class="material-icons debit-img direct-debit" ng-class="{'direct-debit':offer.isDirectDebitOnly}">&#59504;</i>
                                </td>
                                <!-- ngIf: true === offer.isDirectDebitOnly --><td ng-if="true === offer.isDirectDebitOnly" class="ng-scope">Payment details required (e.g. bank debit / credit card)</td><!-- end ngIf: true === offer.isDirectDebitOnly -->
                                <!-- ngIf: false === offer.isDirectDebitOnly -->
                            </tr><tr><td>
                                    <i class="material-icons payontime" ng-class="{payontime:offer.hasPayOnTimeDiscount}">&#59477;</i>
                                </td>
                                <!-- ngIf: true === offer.hasPayOnTimeDiscount --><td ng-if="true === offer.hasPayOnTimeDiscount" class="ng-scope">Pay on time discount</td><!-- end ngIf: true === offer.hasPayOnTimeDiscount -->
                                <!-- ngIf: false === offer.hasPayOnTimeDiscount -->
                            </tr><tr><td>
                                    <i class="material-icons incentive" ng-class="{incentive:offer.hasIncentive}">&#59638;</i>
                                </td>
                                <!-- ngIf: true === offer.hasIncentive --><td ng-if="true === offer.hasIncentive" class="ng-scope">The offer has incentive(s)</td><!-- end ngIf: true === offer.hasIncentive -->
                                <!-- ngIf: false === offer.hasIncentive -->
                            </tr><tr><td>
                                    <i class="material-icons" ng-class="{'green-power':(0 !== offer.greenPowerDisplay)}">&#58693;</i>
                                </td>
                                <!-- ngIf: 0 !== offer.greenPowerDisplay -->
                                <!-- ngIf: 0 === offer.greenPowerDisplay --><td ng-if="0 === offer.greenPowerDisplay" class="ng-scope">No Green Power</td><!-- end ngIf: 0 === offer.greenPowerDisplay -->
                            </tr><tr><!-- ngIf: 0 !== offer.includesDemandTariff --><!-- ngIf: 0 !== offer.includesDemandTariff --><!-- ngIf: false && 0 === offer.includesDemandTariff --></tr></tbody></table></div>
                    <div class="col-md-6">
                        <span class="sub-header">Offer Details</span>
                        <table class="table offer-detail-table"><tbody><tr><td>Offer ID:</td>
                                <td>LU254566MR</td>
                            </tr><tr><td>Customer type:</td>
                                <td>
                                    Residential                                                                                                        </td>
                            </tr><tr><td>Distributor:</td>
                                <td>United Energy</td>
                            </tr><tr><td>Rate type:</td>
                                <td>Flexible Pricing</td>
                            </tr><tr><td>Offer type:</td>
                                <td>Market offer</td>
                            </tr><tr><td>Release date:</td>
                                <td>01/06/2017 </td>
                            </tr></tbody></table></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row compare-retailer-logo modal-retailer-logo">
                    <img ng-src="img/retailers/big/lumo.jpg" src="https://compare.switchon.vic.gov.au/img/retailers/big/lumo.jpg"></div>
                
                <div class="row">
                    <p>
                        <sup class="usd">$</sup><span class="currency-value ng-binding">3,470</span>
                        <!-- ngIf: 0 > offer.conditionalPrice -->
                        <sub class="dual-per-year">/ year</sub></p>
                </div>
                <div class="row section-separator-bottom">
                    <p>
                        With conditional discounts                        <strong class="ng-binding">
                            $2,330
                            <!-- ngIf: 0 > offer.fullDiscountedPrice -->
                        </strong>
                    </p>
                </div>
                <div class="row modal-retailer-details" ng-class="{'modal-retailer-details-solar':0 != offer.estimatedSolarCredit}">
                    <p>
						<span class="HelveticaNeueLTStd-Regular">
                            To get this offer						</span>
                    </p>

                    <p>
                        <span class="Arial-Regular">
                            <a href="http://www.lumoenergy.com.au" target="_blank">
                                <i class="fa fa-external-link"></i>
                                go to the retailer&rsquo;s website                            </a>
                        </span>
                    </p>

                    <p>
                        <span class="Arial-Regular">
                            <a href="tel:+1300115866">
                                <span class="glyphicon glyphicon-earphone"></span>
                                call the retailer                            </a>
                        </span>
                    </p>

                    <div id="retailer-contact">
                        <p>
                            <a href="tel:+1300115866">
                                1300 115 866                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row view-offer-section2">
            <div class="col-md-8">
                <div class="row contract-header">
                    <p>
                        <span class="Arial-Header">Contract terms: Notices, availability and incentives</span>
                    </p>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped contract-table"><tbody><tr><td>Select contract term:</td>
                                <td>
                                                                            <button class="btn btn-primary" ng-class="{'btn-primary':(contractKey == '19824')}" ng-click="contractKey = '19824'" ng-init="contractKey='19824'">
                                            Ongoing contract                                        </button>
                                                                        </td>
                            </tr><tr ng-show="contractKey === '19824'" class=""><td>Cooling off period</td>
                                    <td>
                                        10                                        days
                                    </td>
                                </tr><tr ng-show="contractKey === '19824'" class=""><td>Eligibility criteria</td>
                                    <td>This offer is available to new Residential customers within the United Energy distribution zone who sign up online, opt-in to direct debit, e-Billing and an e-welcome pack and is subject to the identification of the network tariff and metering requirements.</td>
                                </tr><tr ng-show="contractKey === '19824'" class=""><td>Full terms and conditions</td>
                                    <td>For full terms and conditions applicable to this offer, please visit http://www.lumoenergy.com.au/help-centre/useful-docs</td>
                                </tr><tr ng-show="contractKey === '19824'" class=""><td>Price changes</td>
                                    <td>We may vary the charges under this offer from time to time. If we do, they will be done in line with our Terms and Conditions and you will be provided with written notice no later than your next invoice.</td>
                                </tr><tr ng-show="contractKey === '19824'" class=""><td>Contract expiry details</td>
                                    <td>Your contract is ongoing until it is ended by you or us.</td>
                                </tr><tr><td>Incentives</td>
                                <td>
                                    <p><i>Lumo Ameego Rewards Program</i> - Included in this offer is access to our exclusive rewards program - Lumo Ameego. To access the program, you must first register for My Account at: www.lumoenergy.com.au/myaccount</p>                                </td>
                            </tr><tr><td>Avail. to solar customers</td>
                                <td>Yes</td>
                            </tr></tbody></table></div>
                    <div class="row">
                        <p>
                        <span class="Arial-Header">Discounts and fees</span>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="sub-header">Discounts:</span>
                                                                <p>
                                        <strong>Conditional (33%): Early Bird Discount</strong>
                                    </p>
                                    <p>You will receive a 33% Early Bird Discount (EBD) off your total usage and daily supply charges when you pay your bill by 5pm on the due date.</p>
                                                            </div>
                        <div class="col-md-6">
                            <span class="sub-header">Fees</span>
                                                                <p>
                                        <strong>Reconnection fee</strong>
                                    </p>
                                    <p class="wrap-text">Business Hours</p>
                                                                            <p>Flat rate                                            : $50.17</p>
                                                                            <p>
                                        <strong>Disconnection fee</strong>
                                    </p>
                                    <p class="wrap-text">Business Hours</p>
                                                                            <p>Flat rate                                            : $50.17</p>
                                                                            <p>
                                        <strong>Other fee</strong>
                                    </p>
                                    <p class="wrap-text">Special Meter Read (Business Hours)</p>
                                                                            <p>Flat rate                                            : $23.55</p>
                                                                            <p>
                                        <strong>Early termination fee</strong>
                                    </p>
                                    <p class="wrap-text">There are no applicable exit fees for this product.</p>
                                                                            <p>Flat rate                                            : $0.00</p>
                                        
                                                            <p><strong>Additional Fee Information</strong></p>
                                <p>For the full schedule of fees applicable to this offer, please visit http://www.lumoenergy.com.au/help-centre/fee-schedule-vic or call us on 1300 11 58 66</p>
                            

                            <!-- ngIf: offer.greenPowerDisplay != 0 -->

                            <!-- ngIf: offer.intrinsicGreenPowerDisplay != 0 -->

                            <!-- ngIf: offer.greenPower !== 0 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row offer-rate-header">
                    <p>
                        <span class="Arial-Header">Offer rate and details</span>
                        <br><span>Local time</span>
                    </p>
                </div>

                <!-- season start-->
                                    <!-- ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'quarter' --><div ng-if="offer.solarType === null || 1 !== 3 || offer.solarType === 'quarter'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular"></span>
                            </p>

                            <p class="read-only">1 January                                - 31 December</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>102.92 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Peak</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                3 pm - 9 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>41.20 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Shoulder</p>

                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                9 pm - 10 pm, 7 am - 3 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                7 am - 10 pm                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                7 am - 10 pm                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>24.94 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                                                            <div class="row tariff-separator">
                                    <p>Off-peak</p>

                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                10 pm - 12 am, 12 am - 7 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                10 pm - 12 am, 12 am - 7 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 7 am, 10 pm - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All consumption</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>18.49 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 1 !== 3 || offer.solarType === 'quarter' -->
                                    <!-- ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'pfit' --><div ng-if="offer.solarType === null || 3 !== 3 || offer.solarType === 'pfit'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular">Premium Feed-In Tariff (If eligible)</span>
                            </p>

                            <p class="read-only">1 January                                - 31 December</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>0.00 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Flat</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                12 am - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All export</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>66.00 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'pfit' -->
                                    <!-- ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'newfit' --><div ng-if="offer.solarType === null || 3 !== 3 || offer.solarType === 'newfit'" class="ng-scope">
                        <div class="row offer-rate-header">
                            <p>
                                <span class="Arial-Regular">Feed-In Tariff</span>
                            </p>

                            <p class="read-only">1 January                                - 31 December</p>
                        </div>
                        <div class="row tariff-details">
                            <p class="read-only tariff-heading">Tariff(excl. GST)</p>

                            <div class="row supply-charge">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Supply charges</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 value">
                                    <p>0.00 &cent;/day</p>
                                </div>
                            </div>

                                                            <div class="row tariff-separator">
                                    <p>Flat</p>

                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Saturday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Sunday                                                12 am - 12 am                                            </p>
                                        </div>
                                                                                                                                                                                                                                                                                            <div class="read-only">
                                            <p>
                                                Weekday                                                12 am - 12 am                                            </p>
                                        </div>
                                    

                                                                            <div class="row line-separator tariff-separator">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <p>All export</p>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 value">
                                                <p>
                                                    <strong>11.30 &cent;/kWh</strong>
                                                </p>
                                            </div>
                                        </div>
                                                                    </div>

                            
                                                    </div>
                    </div><!-- end ngIf: offer.solarType === null || 3 !== 3 || offer.solarType === 'newfit' -->
                                <!-- season end -->
            </div>
            <div class="row hidden-lg hidden-md ">
                <div class="col-md-12">
                    <button class="what-next-button what-next-button-text" ng-click="viewNext(offer)">What&rsquo;s next?</button>
                </div>
            </div>
        </div>
    </div>
</div></div></div>
</div></body></html>
<html><head></head><body></body></html>